@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@theme {
    --breakpoint-mahalmd: 60rem;

    --color-mahal-playlist-title: white;
    --color-mahal-playlist-bg: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 5%, transparent);
    --color-mahal-border-color: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 10%, transparent);

    --color-mahal-maintheme: #FCB55D;

    --font-mahal-h1: 'Kindly Rewind';
    --font-mahal-p: 'VCR OSD MONO';

}


h1 {
    font-family: var(--font-mahal-h1);
    user-select: none;
}

p, button, a {
    user-select: none;
    font-family: var(--font-mahal-p);
}

* {
    box-sizing: border-box;
}

button {
    @apply hover:cursor-pointer; 
}

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,rgba(17, 17, 17, 1) 0%, rgb(0, 0, 0) 100%);
    height: 100%;
    width: 100%;
    overflow: hidden;
}


@font-face {
    font-family: 'Instrument Serif';
    src: url('$lib/fonts/InstrumentSerif-Regular.ttf');
}

@font-face {
    font-family: 'Notable Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Notable Regular'), url('$lib/fonts/Notable-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Google Sans Code';
    font-style: normal;
    font-weight: normal;
    src: local('Google Sans Code'), url('$lib/fonts/GoogleSansCode.woff') format('woff');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Space Mono'), url('$lib/fonts/Space-Mono.woff2') format('woff2');
}

@font-face {
    font-family: 'Kindly Rewind';
    src: url('$lib/fonts/KindlyRewind-BOon.ttf');
}

@font-face {
    font-family: 'VCR OSD MONO';
    src: url('$lib/fonts/VCR_OSD_MONO_1.001.ttf');
}